
body {
  background-image:url(../assets/images/foodheart.jpg);
  	background-size:cover;
    background-position:center;
}

.parallax-container {
  height: 300px;
}


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
