<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="widht=device-width, initial-scale=1">
    <title>MI RED SOCIAL</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pontano+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <nav class="nav-extended background-header">
        <div class="nav-wrapper">
          <a href="newsfeed.html" class="brand-logo">Logo</a>
          <a href="perfil.html" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">restaurant</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="perfil.html">Mi perfil</a></li>
            <li><a href="collapsible.html">Salir</a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">JavaScript</a></li>
          </ul>
        </div>
        <div class="nav-content">
          <ul class="tabs tabs-transparent">
            <li class="tab"><a href="#test1">Inicio</a></li>
            <li class="tab"><a href="#test2">Amigos</a></li>
            <li class="tab"><a href="#test3">Eventos</a></li>
            <li class="tab"><a href="#test4">Shop</a></li>
          </ul>
        </div>
    </nav>

    <div  id="test1" class="card horizontal col s12 col m7 col l12 card-users">
      <div class="card-image">
        <img id="photo-news" src="../assets/images/chef2.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
         <p>Braulio Chef</p>
         <p>Visité uno de los mejores restaurantes Mexicanos</p>
         <a href="http://www.fridakahlorestaurante.com/">Restaurante FRIDA KAHLO</a>
        </div>
      <div class="card-action">
        <a class="waves-effect waves-light btn"><i class="material-icons left">star_border</i>button</a>
        <a class="another-user" href="#">Visitar Perfil</a>
      </div>
      </div>
    </div>

    <div id="test2" class="card hide-on-small-only col  m12 col l12 card-friends">
      <i class="material-icons prefix">search</i>
      <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
      <div class="card-image waves-effect waves-block waves-light col s12 col m12 col l12">
        <img class="activator" id="photo-friends" src="../assets/images/chef2.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Braulio Chef<i class="material-icons right"></i></span>
        <p><a class="another-user" href="#">Visitar Perfil</a></p>
        <a class="waves-effect waves-light btn"><i class="material-icons left">delete_forever</i>Eliminar</a>
      </div>
      <div class="card-image waves-effect waves-block waves-light col s12 col m12 col l12">
        <img class="activator" id="photo-friends" src="../assets/images/chef3.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Cassandra<i class="material-icons right"></i></span>
        <p><a class="another-user" href="#">Visitar Perfil</a></p>
        <a class="waves-effect waves-light btn"><i class="material-icons left">delete_forever</i>Eliminar</a>
      </div>
    </div>

    <div id="test2" class="hide-on-med-only hide-on-large-only card col s12">
      <i class="material-icons prefix">search</i>
      <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
      <div class="card-image waves-effect waves-block waves-light col s12 col m12 col l12">
        <img class="activator" id="photo-friends" src="../assets/images/chef2.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Braulio Chef<i class="material-icons right"></i></span>
        <p><a class="another-user" href="#">Visitar Perfil</a></p>
        <a class="waves-effect waves-light btn"><i class="material-icons left">delete_forever</i>Eliminar</a>
      </div>
      <div class="card-image waves-effect waves-block waves-light col s12 col m12 col l12">
        <img class="activator" id="photo-friends" src="../assets/images/chef3.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Cassandra<i class="material-icons right"></i></span>
        <p><a class="another-user" href="#">Visitar Perfil</a></p>
        <a class="waves-effect waves-light btn"><i class="material-icons left">delete_forever</i>Eliminar</a>
      </div>
    </div>

    <div id="test3" class="col s12">
      Test 3
    </div>

    <div id="test4" class="col s12">
      Test 4
    </div>





    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/app.js">

    </script>
  </body>
</html>
